*{
    padding: 0;
    margin: 0;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(89,15,133,1) 0%, rgba(61,10,90,1) 71%);;
    /* background-image: url(./images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
/* This box2 use for front animation part */
/* .box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(137, 43, 226, 0);
    color: #EFD61D;
    font-family: cursive;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
    position:relative;
    /* animation: a1 5s 1 forwards; */

/* @keyframes a1{
    0%{visibility: visible;}
    100%{visibility: hidden;}
} */
/* #name{
    position: relative;;
    top: 0rem;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    font-weight: lighter;
}
h4{
    position: relative;
    top: -3rem;
    z-index: 1;
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
}
.note{
    position: relative;
    bottom: 2rem;
}
.box-2-insideBox1{
    position: relative;
    bottom: 0rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(95, 158, 160, 0);
    margin-bottom: 5rem;
    background-image: url(./images/itsYourBirthday.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}  */
.box {
    background-color: rgba(137, 43, 226, 0);
    /* border:solid white 1px; */
    width: 400px;
    height: 500px;
    overflow: hidden;
}
.box-3{
    animation: a2 5s 1 forwards;
    visibility: hidden;
    /* display: none; */
    z-index: 1;
}
@keyframes a2{
    0%{visibility: visible;}
    100%{visibility: visible;}
}
.balloon{
    width: 100px;
    height: 200px;
    position: relative;
    bottom: -480px;
    background-image: url(./images/MyBalloons.png);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: moveup 5s  1   forwards;
    z-index: 1;
    
}
.blue{
    visibility: hidden;
    width: 100px;
    height: 200px;
    position: relative;
    bottom: 200px;
    background-image: url(./images/MyBalloons.png);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: flame 3s 5s infinite alternate-reverse;
    z-index: 1;
}

@keyframes moveup{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-490px);visibility:hidden;}
}
@keyframes flame{
    0%{transform: translateY(9px);visibility: visible;}
    100%{transform: translateY(-10px);visibility: visible;}
    100%{transform: translateY(-10px);visibility: visible;}
    0%{transform: translateY(9px);visibility: visible;}
}
.lights{
    position: relative;
    width: 400px;
    height: 100px;
    background-image: url(./images/lights2.png);
    background-position: center;
    background-size: contain;
    animation: onoff 0.5s 0s infinite alternate-reverse;
}

@keyframes onoff {
    0%{opacity: 0;}
    10%{opacity: 0.1;}
    20%{opacity: 0.2;}
    30%{opacity: 0.3;}
    40%{opacity: 0.4;}
    50%{opacity: 0.5;}
    60%{opacity: 0.6;}
    70%{opacity: 0.7;}
    80%{opacity: 0.8;}
    90%{opacity: 0.9;}
    100%{opacity: 1;}
    100%{opacity: 0.9;}
    90%{opacity: 0.8;}
    80%{opacity: 0.7;}
    70%{opacity: 0.6;}
    60%{opacity: 0.5;}
    50%{opacity: 0.4;}
    40%{opacity: 0.3;}
    30%{opacity: 0.2;}
    20%{opacity: 0.1;}

}
.myCake{
    position: relative;
    bottom: 250px;
    width: 280px;
    height: 200px;
    margin: auto;
    background-image: url(./images/Cake.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation:appier 2s 1 5s forwards;
    z-index: 1;
    visibility: hidden;
}
@keyframes appier{
    0%{opacity: 0;transform: scale3d(0.3,0.3,0.3);visibility: visible;}
    100%{opacity: 1;transform: scale3d(1,1,1);visibility: visible;}

}

.candies{
    position: relative;
    margin: auto;
    bottom: 720px; /*720*/
    width: 300px;
    height: 10px;
    /* background-color: cadetblue; */
    /* background-image: url(./images/PinkCandiTopLeft.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
    /* animation:drop 2s 1 5s  forwards;
    z-index: 3; */
}
.pinkCandy1{
    position: relative;
    float: left;
    left: 130px;
    width: 7px;
    height: 7px;
    background-image: url(./images/PinkCandiTopLeft.png);
    background-position: center;
    background-size: contain;
    animation:drop1 2s 1 6s  forwards;
    z-index: 1;
}
@keyframes drop1{
    0%{transform: translateY(0px);}
    100%{transform: translateY(290px);}
}

.pinkCandy2{
    position: relative;
    float: left;
    left: 185px;
    width: 8px;
    height: 8px;
    background-image: url(./images/PinkCandiTopLeft.png);
    background-position: center;
    background-size: contain;
    animation:drop2 2s 1 6.5s  forwards;
   z-index: 1;
}
@keyframes drop2{
    0%{transform: translateY(0px);}
    100%{transform: translateY(296px);}
}

.blueCandy1{
    position: relative;
    float: left;
    left: 150px;
    width: 6px;
    height: 6px;
    background-image: url(./images/BlueCandiTopCenter.png);
    background-position: center;
    background-size: contain;
    animation:drop3 2s 1 6.6s  forwards;
    z-index: 1;
}
@keyframes drop3{
    0%{transform: translateY(0px);}
    100%{transform: translateY(288px);}
}

.blueCandy2{
    position: relative;
    float: left;
    left: 130px;
    width: 10px;
    height: 10px;
    background-image: url(./images/BlueCandiTopCenter.png);
    background-position: center;
    background-size: contain;
    animation:drop4 2s 1 6.7s  forwards;
    z-index: 1;
}
@keyframes drop4{
    0%{transform: translateY(0px);}
    100%{transform: translateY(305px);}
}
.blueCandy3{
    position: relative;
    left: 100px;
    width: 9px;
    height: 9px;
    background-image: url(./images/BlueCandiTopCenter.png);
    background-position: center;
    background-size: contain;
    animation:drop5 2s 1 6.8s  forwards;
    z-index: 1;
}
@keyframes drop5{
    0%{transform: translateY(0px);}
    100%{transform: translateY(300px);}
}
.yellowCandy1{
    position: relative;
    float: left;
    left: 100px;
    width: 7px;
    height: 7px;
    background-image: url(./images/YellowCandiBottomLeft.png);
    background-position: center;
    background-size: contain;
    animation:drop6 2s 1 8s  forwards;
    z-index: 1;
}
@keyframes drop6{
    0%{transform: translateY(0px);}
    100%{transform: translateY(300px);}
}
.yellowCandy2{
    position: relative;
    float: left;
    left: 150px;
    width: 7px;
    height: 7px;
    background-image: url(./images/YellowCandiBottomLeft.png);
    background-position: center;
    background-size: contain;
    animation:drop7 2s 1 8.5s  forwards;
    z-index: 1;
}
@keyframes drop7{
    0%{transform: translateY(0px);}
    100%{transform: translateY(295px);}
}
.blueCandle{
    position: relative;
    float: left;
    left: 70px;
    width: 6px;
    height: 50px;
    background-image: url(./images/Candle-blue.png);
    background-position: center;
    background-size: contain;
    animation:drop8 0.5s 1 13.2s  forwards;
    z-index: 1;
    visibility: hidden;
}
@keyframes drop8{
    0%{transform: translateY(0px);visibility: visible;}
    100%{transform: translateY(245px);visibility: visible;}
}
.pinkCandle{
    position: relative;
    float: left;
    left: 90px;
    width: 6px;
    height: 50px;
    background-image: url(./images/Candle-pink.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation:drop9 0.5s 1 14s  forwards;
    z-index: 1;
    visibility: hidden;
}
@keyframes drop9{
    0%{transform: translateY(0px);visibility: visible;}
    100%{transform: translateY(250px);visibility: visible;}
}
.yellowCandle{
    position: relative;
    float: left;
    left: 118px;
    width: 6px;
    height: 50px;
    background-image: url(./images/Candle-yllow.png);
    background-position: center;
    background-size: contain;
    animation:drop10 0.6s 1 15s  forwards;
    z-index: 1;
    visibility: hidden;
}
@keyframes drop10{
    0%{transform: translateY(0px);visibility: visible;}
    100%{transform: translateY(250px);visibility: visible;}
}

.flames{
    position: relative;
    margin: auto;
    bottom: 500px;
    width: 300px;
    height: 10px;
    /* background-color: cadetblue; */

}
.flame1{
    width: 15px;
    height: 15px;
    box-shadow: rgb(229, 238, 107) 0px 54px 55px, rgb(240, 218, 24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    border-radius: 50%;
    left: 110px;
    top: 10px;
    position: relative;
    background-image: url(./images/Flame.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation:flame1 2s infinite 16s  forwards;
    visibility: hidden;
}
@keyframes flame1{
        0%   {transform: rotate(-1deg);opacity: 1;visibility: visible;}
        20%  {transform: rotate(1deg);opacity: 0.8;visibility: visible;}
        40%  {transform: rotate(-1deg);opacity: 0.7;visibility: visible;}
        60%  {transform: rotate(1deg) scaleY(1.04);opacity: 0.7;visibility: visible;}
        80%  {transform: rotate(-2deg) scaleY(0.92);opacity: 0.8;visibility: visible;}
        100% {transform: rotate(1deg);opacity: 1;visibility: visible;}
}
.flame2{
    width: 15px;
    height: 15px;
    box-shadow: rgb(229, 238, 107) 0px 54px 55px, rgb(240, 218, 24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    border-radius: 50%;
    left: 135px;
    top: 1px;
    position: relative;
    background-image: url(./images/Flame.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation:flame2 2s infinite 16.5s  forwards;
    visibility: hidden;
}
@keyframes flame2{
    0%   {transform: rotate(1deg);opacity: 1;visibility: visible;}
    20%  {transform: rotate(-1deg);opacity: 1;visibility: visible;}
    40%  {transform: rotate(1deg);opacity: 0.9;visibility: visible;}
    60%  {transform: rotate(1deg) scaleY(1.04);opacity: 1;visibility: visible;}
    80%  {transform: rotate(-2deg) scaleY(0.92);opacity: 1;visibility: visible;}
    100% {transform: rotate(-1deg);opacity: 1;visibility: visible;}
}
.flame3{
    width: 15px;
    height: 15px;
    box-shadow: rgb(229, 238, 107) 0px 54px 55px, rgb(240, 218, 24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    border-radius: 50%;
    left: 170px;
    top: -14px;
    position: relative;
    background-image: url(./images/Flame.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation:flame3 2s infinite 17s  forwards;
    visibility: hidden;
}
@keyframes flame3{
    0%   {transform: rotate(1deg);opacity: 0.9;visibility: visible;}
    20%  {transform: rotate(-1deg);opacity: 1;visibility: visible;}
    40%  {transform: rotate(1deg);opacity: 0.9;visibility: visible;}
    60%  {transform: rotate(1deg) scaleY(1.04);opacity: 1;visibility: visible;}
    80%  {transform: rotate(-2deg) scaleY(0.92);opacity: 1;visibility: visible;}
    100% {transform: rotate(-1deg);opacity: 0.9;visibility: visible;}
}



.bottomYellowCandy1{
    position: relative;
    float: left;
    left: 20px;
    width: 5px;
    height: 5px;
    background-image: url(./images/YellowCandiBottomLeft.png);
    background-position: center;
    background-size: contain;
    animation:drop11 2s 1 9.1s  forwards;
    z-index: 1;
}
@keyframes drop11{
    0%{transform: translateY(0px);}
    100%{transform: translateY(325px);}
}
.bottomBlueCandy1{
    position: relative;
    float: left;
    left: 10px;
    width: 8px;
    height: 8px;
    background-image: url(./images/BlueCandiTopCenter.png);
    background-position: center;
    background-size: contain;
    animation:drop12 2s 1 9.5s  forwards;
    z-index: 1;
}
@keyframes drop12{
    0%{transform: translateY(0px);}
    100%{transform: translateY(340px);}
}
.bottomPinkCandy1{
    position: relative;
    float: left;
    left: 30px;
    width: 7px;
    height: 7px;
    background-image: url(./images/PinkCandiTopLeft.png);
    background-position: center;
    background-size: contain;
    animation:drop13 2s 1 10s  forwards;
    z-index: 1;
}
@keyframes drop13{
    0%{transform: translateY(0px);}
    100%{transform: translateY(345px);}
}
.bottomBlueCandy2{
    position: relative;
    float: left;
    left: 60px;
    width: 8px;
    height: 8px;
    background-image: url(./images/BlueCandiTopCenter.png);
    background-position: center;
    background-size: contain;
    animation:drop14 2s 1 10.5s  forwards;
    z-index: 1;
}
@keyframes drop14{
    0%{transform: translateY(0px);}
    100%{transform: translateY(350px);}
}
.bottomPinkCandy2{
    position: relative;
    float: left;
    left: 90px;
    width: 6px;
    height: 6px;
    background-image: url(./images/PinkCandiTopRight.png);
    background-position: center;
    background-size: contain;
    animation:drop14 2s 1 11s  forwards;
    z-index: 1;
}
@keyframes drop14{
    0%{transform: translateY(0px);}
    100%{transform: translateY(345px);}
}
.bottomBlueCandy3{
    position: relative;
    float: left;
    left: 115px;
    width: 9px;
    height: 9px;
    background-image: url(./images/BlueCandiTopCenter.png);
    background-position: center;
    background-size: contain;
    animation:drop15 2s 1 12s  forwards;
    z-index: 1;
}
@keyframes drop15{
    0%{transform: translateY(0px);}
    100%{transform: translateY(340px);}
}
.bottomYellowCandy2{
    position: relative;
    float: left;
    left: 110px;
    width: 5px;
    height: 5px;
    background-image: url(./images/YellowCandiBottomLeft.png);
    background-position: center;
    background-size: contain;
    animation:drop16 2s 1 13s  forwards;
    z-index: 1;
}
@keyframes drop16{
    0%{transform: translateY(0px);}
    100%{transform: translateY(330px);}
}

.starsAndOther{
    width: 100%;
    height: 200px;
    /* background-color: rgba(95, 158, 160, 0.418); */
    position: relative;
    bottom: 600px;
    /* float:left; */
    margin: auto;
    visibility: visible;
    /* z-index: 0; */
}
.star1{
    position: relative;
    top: 100px;
    left: 70px;
    width: 20px;
    height: 20px;
    /* background: linear-gradient(180deg, rgba(242,228,65,1) 0%, rgba(252,190,0,1) 100%); */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: shining1 1s 18.5s infinite alternate-reverse;
    visibility: hidden;
}
@keyframes shining1{
    from{transform: scale(0.5);background-color: gold;opacity: 0.5;visibility: visible;}
    to{transform: scale(1);background-color: yellow;opacity: 1;visibility: visible;}
}
.star2{
    position: relative;
    top: 200px;
    left: 40px;
    width: 15px;
    height: 15px;
    /* background: linear-gradient(180deg, rgba(242,228,65,1) 0%, rgba(252,190,0,1) 100%); */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: shining2 0.5s 19s infinite alternate-reverse;
    visibility: hidden;
}
@keyframes shining2{
    from{transform: scale(0.5);background-color: rgb(211, 39, 134);opacity: 0.5;visibility: visible;}
    to{transform: scale(1);background-color: rgb(246, 76, 190);opacity: 1;visibility: visible;}
}
.star3{
    position: relative;
    top: 200px;
    left: 340px;
    width: 15px;
    height: 15px;
    /* background: linear-gradient(180deg, rgba(242,228,65,1) 0%, rgba(252,190,0,1) 100%); */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: shining3 1s 19.5s infinite alternate-reverse;
    visibility: hidden;
}
@keyframes shining3{
    from{transform: scale(0.5);background-color: rgb(95, 212, 248);opacity: 0.5;visibility: visible;}
    to{transform: scale(1);background-color: rgb(134, 211, 241);opacity: 1;visibility: visible;}
}
.star4{
    position: relative;
    top: 0px;
    left: 330px;
    width: 15px;
    height: 15px;
    /* background: linear-gradient(180deg, rgba(242,228,65,1) 0%, rgba(252,190,0,1) 100%); */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: shining4 3s 21s infinite alternate-reverse;
    visibility: hidden;
}
@keyframes shining4{
    from{transform: scale(0.5);background-color: rgb(248, 95, 189);opacity: 0.5;visibility: visible;}
    to{transform: scale(1);background-color: rgb(237, 134, 241);opacity: 1;visibility: visible;}
}
.star5{
    position: relative;
    top: 100px;
    left: 280px;
    width: 15px;
    height: 15px;
    /* background: linear-gradient(180deg, rgba(242,228,65,1) 0%, rgba(252,190,0,1) 100%); */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: shining5 3s 18s infinite alternate-reverse;
    visibility: hidden;
}
@keyframes shining5{
    from{transform: scale(0.5);background-color: rgb(231, 216, 12);opacity: 0.5;visibility: visible;}
    to{transform: scale(1);background-color: rgb(235, 238, 49);opacity: 1;visibility: visible;}
}

.gift1{
    position: relative;
    top: 203px;
    left: 10px;
    width: 100px;
    height: 100px;
    /* background-color: yellow; */
    background-image: url(./images/gift2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
    animation:gift1 1s 18.8s 1 forwards;
    visibility: hidden;
}
@-webkit-keyframes gift1{
    from{transform: scale(0);visibility: visible;}
    to{transform: scale(1);visibility: visible;}
}
.gift2{
    position: relative;
    top: 130px;
    left: 90px;
    width: 70px;
    height: 70px;
    /* background-color: yellow; */
    background-image: url(./images/gift1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
    animation:gift2 1s 18.8s 1 forwards;
    visibility: hidden;
    
}
@keyframes gift2{
    from{transform: translateX(-90px);visibility: visible;}
    to{transform: translateX(0px);visibility: visible;}
}

/* Text */
.text{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(95, 158, 160, 0);
    position: relative;
    left: 20px;
    /* color:linear-gradient(180deg, rgba(231,214,16,1) 0%, rgba(210,160,6,1) 100%); */
    margin: auto;
    bottom: 350px;
    font-family: 'Kaushan Script', cursive;
    z-index: 1;
}
.happyBirthday{
    /* background: -webkit-linear-gradient(130deg, rgb(221, 210, 57) 0%, rgb(233, 197, 37) 100%); */
    background: -webkit-linear-gradient(270deg, rgba(247,234,74,1) 0%, rgb(236, 198, 85) 100%);
    /* color: rgb(238, 230, 124); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: relative;
    text-align:center;
    top:-20px;
    left: 50px;
    animation:happyBirthday 3s 1 18s forwards;
    visibility: hidden;
    z-index: 2;
}
@-webkit-keyframes happyBirthday{
    from{transform: translateY(-150px);visibility: visible;}
    to{transform: translateY(0);visibility: visible;}
}
.dear{
    position: relative;
    top: 30px;
    left:-120px;
    background: -webkit-linear-gradient(270deg, rgba(247,234,74,1) 0%, rgb(236, 198, 85) 100%);;
    /* color: rgb(238, 230, 124); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-weight: bold; */
    animation:leftToRight 4s 1 18s forwards;
    visibility: hidden;
    font-family: 'Kaushan Script', cursive;
    z-index: 1;
    font-size: 1.3rem;
}
.name{
    position: relative;
    top: 60px;
    left: -120px;
    background: -webkit-linear-gradient(270deg, rgba(247,234,74,1) 0%, rgb(236, 198, 85) 100%);;
    /* color: rgb(238, 230, 124); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:righttoleft 3s 1 19s forwards;
    visibility: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}
@-webkit-keyframes leftToRight{
    from{transform: translateX(-200px);visibility: visible;}
    to{transform: translateX(0);visibility: visible;}
}
@-webkit-keyframes righttoleft{
    from{transform: translateX(200px);visibility: visible;}
    to{transform: translateX(0);visibility: visible;}
}
.text-wish{
    position: relative;
    margin: auto;
    bottom: 315px;
    left: 20px;
    text-align: center;
    background: -webkit-linear-gradient(270deg, rgba(247,234,74,1) 0%, rgb(236, 198, 85) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5rem;
    animation: wish 6s linear 21s 1 forwards;
    visibility: hidden;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
@keyframes wish{
    0%{opacity: 0;transform: scale3d(0,0,0) rotate(360deg);visibility: visible;}
    10%{opacity: 0.1;transform: scale3d(0.1,0.1,0.1) rotate(324deg);visibility: visible;}
    20%{opacity: 0.2;transform: scale3d(0.2,0.2,0.2) rotate(288deg);visibility: visible;}
    30%{opacity: 0.3;transform: scale3d(0.3,0.3,0.3) rotate(252deg);visibility: visible;}
    40%{opacity: 0.4;transform: scale3d(0.4,0.4,0.4) rotate(216deg);visibility: visible;}
    50%{opacity: 0.5;transform: scale3d(0.5,0.5,0.5) rotate(180deg);visibility: visible;}
    60%{opacity: 0.6;transform: scale3d(0.6,0.6,0.6) rotate(144deg);visibility: visible;}
    70%{opacity: 0.7;transform: scale3d(0.7,0.7,0.7) rotate(108deg);visibility: visible;}
    80%{opacity: 0.8;transform: scale3d(0.8,0.8,0.8) rotate(72deg);visibility: visible;}
    90%{opacity: 0.9;transform: scale3d(0.9,0.9,0.9) rotate(36deg);visibility: visible;}
    100%{opacity: 1;transform: scale3d(1,1,1) rotate(0deg);visibility: visible;}
} 

.wish{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.birthdayHat{
    width:80px;
    height: 80px;
    position: relative;
    bottom: 525px;
    left:310px;
    /* background-color: teal; */
    background-image: url(./images/birthdayHat.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateZ(15deg);
    animation:birthdayHat 1s 21s infinite alternate-reverse ;
    visibility: hidden;
}
.memory{
    position: relative;
    bottom: 400px;
    left: 120px;
    
    
}
.dateandmonth{
    position: relative;
    font-size: 1.5rem;
    top: -20px;
    background: -webkit-linear-gradient(270deg, rgba(247,234,74,1) 0%, rgb(236, 198, 85) 100%);
    /* color: rgb(238, 230, 124); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.year{
    position: relative;
    font-size: 4rem;
    top: -20px;
    left: 30px;
    background: -webkit-linear-gradient(270deg, rgba(247,234,74,1) 0%, rgb(236, 198, 85) 100%);
    /* color: rgb(238, 230, 124); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Twinkle Star', cursive;
    
}
.slogen{
    position: relative;
    top: -40px;
    left: 10px;
    font-size: 1.6rem;
    background: -webkit-linear-gradient(270deg, rgba(247,234,74,1) 0%, rgb(236, 198, 85) 100%);
    /* color: rgb(238, 230, 124); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;

}

@-webkit-keyframes birthdayHat{
    0%{visibility: visible;transform: rotateZ(15deg);}
    100%{visibility: visible;transform: rotateZ(10deg);}
}

@media screen and (max-width: 387px) {
    .birthdayHat{
        width:70px;
        height: 70px;
        position: relative;
        bottom: 525px;
        left:280px;
        background-image: url(./images/birthdayHat.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotateZ(10deg);
        animation:birthdayHat 1s 20s infinite alternate-reverse ;
        visibility: hidden;
        z-index: 0;
    }
  }
.note{
    position: absolute;
    top: 580px;
    margin: auto;
    color: white;
    font-size: 0.8rem;
    font-family: monospace;
    text-align: center;

}